<div *ngIf="!registrationService.loggedIn">

  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <form #form="ngForm" (submit)="submited(form)">
                  
                  <div class="form-group">
                      <label for="email">Email</label>
                      <input 
                      class="form-control"
                      type="email" 
                      name="email" 
                      id="email"
                      #email="ngModel"
                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
                      [(ngModel)]="userEmail"
                      required
                      >
                  </div>
                
                  
                  <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password"
                      class="form-control"
                      name="password"
                      id="password"
                      #password="ngModel"
                      [(ngModel)]="userPassword"
                      minlength="5">
                  </div>
                  
                  <div *ngIf="checkAcc == 0">
                      <button class="btn btn-primary" type="button" routerLink="/signup">Sign up</button>
                     <p-toast key="emailError" position="bottom-center" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-toast>
                  </div>

                  <button class="btn btn-success" label="error">Log In</button>
                  
              </form>
          </div>
      </div>
  </div>
</div>

 <p-toast key="emailOrPasswordError" position="bottom-center" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-toast>
 <p-toast key="inputError" position="bottom-center" [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'"></p-toast>