form{
    width: 20%;
    margin: 0 auto;
    margin-top: 50px;
}

button{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 150px;
    padding: 5px 0px;
}

.errorMsg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 20px;
    color: red;
    font-family: cursive;
    text-align: center;
}

input.ng-invalid.ng-touched{
    border: 2px solid #ff1919;
}